body {
    max-width: 390px;
    margin: 0; /*внешние отступы*/
    margin-top: 10px;
    padding: 0; /*внутренние отступы*/
    font-size: 18px;
    background: #FFE4B5;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 205px 205px 205px;
}

img {
    width: 150px;
}

.item {
    text-align: center;
}

.btn {
    padding: 15px;
    background: #A52A2A;
    color: #FFEBCD;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    transition: background 0.4s ease;
}

.btn:hover {
    background: #8B4513;
}